{% extends 'base.html' %}

{% block titulo %} Alta de productos {% endblock %}

{% block contenido %}
    <h1>Alta de productos </h1>
    <form class= "u-full-width" action="/altaProducto" method="post">
        <label for="tipo_producto">Tipo de Producto:</label>
        <input class= 'u-full-width' type= 'text' name='tipo_producto' id="tipo_producto"/>
        <label for="precio_unitario">Precio U.:</label>
        <input class= 'u-full-width' type="number" name= "precio_unitario" id="precio_unitario" step="0.01">
        <label for="coste_unitario">Coste U.:</label>
        <input class= 'u-full-width' type="number" name= "coste_unitario" id="coste_unitario" step="0.01"><br/>
        <input class= button-primary type="submit"  value="Aceptar">

    </form>
{% endblock %}